@import "./variables";

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: $white;
}

#root {
	background-color: $black;
	color: $white;
}

.rating {
	i {
		font-size: $header-1;
		color: gold;

		@media only screen and (max-width: 800px) {
			font-size: $text-3;
		}
	}
}

.spinner {
	width: 100%;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 50px 0;

	img {
		width: 10vw;
		min-width: 100px;
		min-height: 100px;
		height: 10vw;
	}

	p {
		font-style: italic;
	}
}

.main {
	min-height: 100vh;

	@media only screen and (max-width: 649px) {
		min-height: 80vh;
	}
}
