.info-modal {
	position: fixed;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5%;
	background-color: rgb(2, 105, 2);
	z-index: 1000;
}

.info-modal-msg {
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
}

.close-info-modal {
	cursor: pointer;
	font-weight: bolder;
	color: rgb(252, 56, 56);
	margin-left: 5%;
}
